
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
  background: rgb(255,255,255);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.left-column {
  width: 15%;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  z-index: 22;
  border: 1px solid rgb(196, 196, 196);
}

.logo-dash{
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.logo-dash img{
  width: 7rem;
  height: auto;
  margin: 1rem 0 0 2.7rem;
  cursor: pointer;
}

.dash-menu{
  display: flex;
  margin-bottom: 0.5rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  transition: color 0.3s ease;
}

.logo-heading h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #3b7bf8;
} 

.logo-heading h3:hover {
  color: #0053f8;
  cursor: pointer;
}

 .logo i {
  color: #434050;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  cursor: pointer;
} 


.logo-heading{
  margin: 0.9rem 0 0 0.5rem;
}

.logout{
  margin-top: 10rem;
}

.right-column {
  width: 85%;
  height: 100vh;
}

.header {
  margin: 1rem 0.8rem 1rem 0;
  align-items: center;
}

.head-container {
  border: 1px solid rgb(196, 196, 196);
  border-radius: 5px;
  height: 50px;
  max-height: 50px;
  width: 95%;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-search {
  background-color: #e8f0fe;
  margin-left: 1.5rem;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.input-search input{
  padding: 0.6rem 10rem 0.6rem 0.8rem;
  border: none;
  outline: none;
  color: #000;
}

.input-search i {
  margin-left: 0.5rem;
}

/* All styling related entire icons are here */

.material-icons {
  font-size: 1.5rem !important;
  font-weight: 200 !important;
  border: none !important;
  outline: none !important;
  font-style: normal !important;
  color: #434050;
}

#hamburger {
  display: none;
  cursor: pointer;
}

#close-icon {
  border:1px solid #434050 !important;

}



.profile {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;
  margin-right: 1.5rem;
}

.profile img {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  margin-top: 0.2rem;
}

.dark-mode {
  display: none;
}





